{
  "extends": "airbnb-base",
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "script"
  },
  "rules": {
    "arrow-parens": [2, "as-needed", { "requireForBlockBody": true }],
    "comma-dangle": [2, {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "never"
    }],
    "max-len": [2, { "code": 80 }],
    "no-multi-spaces": [2, {
      "exceptions": {
        "AssignmentExpression": true,
        "AssignmentPattern": true,
        "CallExpression": true,
        "VariableDeclarator": true
      }
    }],
    "no-unused-expressions": 0,
    "no-use-before-define": 0,
    "object-curly-newline": 0,
    "prefer-destructuring": 0,
    "prefer-template": 0,
    "strict": [2, "global"]
  }
}
